#contactFormSection {
	margin-top: 70px;
}
#contactFormSection h2 {
	font-size: 2.5rem;
	font-weight: 500;
}
#contactForm > div {
	margin-top: 20px;
}
.formControl {
	width: 400px;
	padding: 20px;
	border: 1px solid lightgray;
	background-color: whitesmoke;
	border-radius: 2px;
	font-size: 1.2rem;
}
